name: Build, Push Docker Image and Deploy to Render

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up variables
        run: |
          echo "SHA_SHORT=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
          echo "DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image with tags
        run: |
          docker build -t felix8501/ansible-docker-lab:latest \
                       -t felix8501/ansible-docker-lab:${{ env.SHA_SHORT }} \
                       -t felix8501/ansible-docker-lab:${{ env.DATE }} .

      - name: Push Docker images
        run: |
          docker push felix8501/ansible-docker-lab:latest
          docker push felix8501/ansible-docker-lab:${{ env.SHA_SHORT }}
          docker push felix8501/a
